[ ca ]
default_ca=CA_default
[ CA_default ]
database=index.txt
crlnumber=crlnumber
default_days=3650
default_crl_days=3650
default_md=default
preserve=no
crl_extensions=crl_ext
[ crl_ext ]
authorityKeyIdentifier=keyid:always,issuer:always
