PermitRootLogin without-password
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server
UseDNS no
Match Group algo-ssh-tunnel
    PermitTTY no
    ForceCommand /sbin/nologin
    ChrootDirectory /%h
    AllowTcpForwarding local
    AllowAgentForwarding no
    AllowStreamLocalForwarding no
    PermitTunnel no
    X11Forwarding no
    AuthorizedKeysCommand /usr/bin/grep -oP "^%u::\Kecdsa-sha2-nistp384.*$" /opt/algo/configs/ssh-tunnel/authorized_keys
    AuthorizedKeysCommandUser nobody
